<!DOCTYPE html>
<html ng-app='Eggly'>
  <head>
    <meta charset='utf-8'>
      <title>Eggly Tutorial from Egghead.io</title>
      <link charset='utf-8' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css' media='screen' rel='stylesheet' title='no title'>
      <link charset='utf-8' href='css/application.css' media='screen' rel='stylesheet' title='no title'>
    </meta>
  </head>
  <body ng-controller='MainCtrl'>
    <h1>
      {{hello}}
    </h1>
    <div class='row'>
      <div class='medium-3 columns eggly-left-sidebar'>
        <h2>Categories</h2>
        <div class='row'>
          <ul class='nav nav-sidebar'>
            <li class='medium-12 columns' ng-class="{'active':isCurrentCategory(category)}" ng-repeat='category in categories'>
              <a ng-click='setCurrentCategory(category)'>
                {{category.name
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='medium-9 columns eggly-right-body'>
        <section class='medium-12 columns' ng-repeat='bookmark in bookmarks | filter:{category:currentCategory.name}'>
          <button class='close button' type='button'>&times;</button>
          <button class='btn button success' type='button'>Bookmark</button>
          <a href='{{bookmark.url}}'>
            {{bookmark.title}}
          </a>
        </section>
      </div>
    </div>
    <!-- SCRIPTS -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js'></script>
    <script src='app/eggly-app.js'></script>
  </body>
</html>
