@import '../global/vars.scss';
@import '../global/mixins.scss';

/*
  ____  _   _ _____ _____ ___  _   _ ____
 | __ )| | | |_   _|_   _/ _ \| \ | / ___|
 |  _ \| | | | | |   | || | | |  \| \___ \
 | |_) | |_| | | |   | || |_| | |\  |___) |
 |____/ \___/  |_|   |_| \___/|_| \_|____/

*/


/* ==========================================================================
   Styling for Standard Buttons
   ==========================================================================
*/

.btn, .button, button {
  float: left;
  display: block;
  min-width: 3rem;
  padding: 1rem 1.25rem;
  border-radius: 0;
  font-family: $font-1;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;

  @include mq(sm) {
    width: 100%;
  }

}
