!!!
%html{"ng-app" => ""}
  %head
    %meta{:charset => "utf-8"}
      %title Eggly Tutorial from Egghead.io
      %link{:charset => "utf-8", :href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css", :media => "screen", :rel => "stylesheet", :title => "no title"}
  %body
    %div{"ng-init" => "hello='world'"}
      {{hello}}
    / SCRIPTS
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"}
